@model WebBanVeXemPhim.Models.NguoiDung

<div id="hienthi" class="hienthi">
    <button class="close-btn" onclick="closeSidebar()">×</button>
    <h3>Sửa thông tin</h3>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="MaNguoiDung" />
        <div class="form-group" style="padding:0px">
            <label asp-for="TenNguoiDung" class="control-label">Tên người dùng</label>
            <input asp-for="TenNguoiDung" class="form-control" />
            <span asp-validation-for="TenNguoiDung" class="text-danger"></span>
        </div>
        <div class="form-group" style="padding:0">
            <label asp-for="MatKhau" class="control-label">Mật khẩu</label>
            <input asp-for="MatKhau" class="form-control" />
            <span asp-validation-for="MatKhau" class="text-danger"></span>
        </div>
        <div class="form-group" style="padding:0">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group" style="padding:0">
            <label asp-for="TrangThai" class="control-label">Trạng thái</label>
            <select asp-for="TrangThai" class="form-control">
                <option value="true">Hoạt động</option>
                <option value="false">Không hoạt động</option>
            </select>
            <span asp-validation-for="TrangThai" class="text-danger"></span>
        </div>
        <div class="form-group" style="padding-top:20px">
            <input type="submit" value="Lưu" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
