@model WebBanVeXemPhim.Models.TaiKhoanAdmin

<div id="hienthi" class="hienthi">
        <button class="close-btn" onclick="closeSidebar()">×</button>
        <h3>Sửa thông tin</h3>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaAdmin" />
            <div class="form-group" style="padding:0px">
                <label asp-for="TenDangNhap" class="control-label">Tên đăng nhập</label>
                <input asp-for="TenDangNhap" class="form-control" />
                <span asp-validation-for="TenDangNhap" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding:0">
                <label asp-for="MatKhau" class="control-label">Mật khẩu</label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding:0">
                <label asp-for="HoTen" class="control-label">Họ và tên</label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding:0">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding:0">
                <label asp-for="SoDienThoai" class="control-label"></label>
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
        <div class="form-group" style="padding:0">
            <label asp-for="ChucVu" class="control-label"></label>
            <input asp-for="ChucVu" class="form-control" />
            <span asp-validation-for="ChucVu" class="text-danger"></span>
        </div>
            <div class="form-group" style="padding:0">
                <label asp-for="TrangThai" class="control-label"></label>
            <select asp-for="TrangThai" class="form-control">
                <option value="true">Hoạt động</option>
                <option value="false">Không hoạt động</option>
            </select>
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-top:20px">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
