<form method="POST" action="https://formspree.io/f/xbldnroj">
    <input type="email" name="email" placeholder="Email của bạn" required />

    <textarea name="message" placeholder="Nhập thông tin muốn gửi!" required></textarea>

    <!-- Gửi phản hồi tự động đến email của người dùng -->
    <input type="hidden" name="_autoresponse" value="Cảm ơn bạn đã gửi thông tin! Chúng tôi sẽ phản hồi sớm nhất.">

    <button type="submit">Gửi</button>
</form>